@model WADFC.Models.FullEventDetails

@{ Layout = "_CMS"; }

<h1>@Model.EventInfo.EventTitle</h1>

@if (Model.EventDetails.Count > 0)
{
    <p>Delete all the fights before deleting event</p>
    <p><a asp-controller="CMS" asp-action="Index" class="add">Keep</a><br></p>
    <table class="table">
        <tr>
            <td>Fight</td>
            <td>Delete</td>
        </tr>
        @foreach (var item in Model.EventDetails)
        {
            <tr>
                <td>@item.FighterAName vs @item.FighterBName</td>
                <td><p><a asp-controller="CMS" asp-action="DeleteFight" asp-route-id="@item.FightID" class="delete">Delete</a></p></td>
            </tr>
        }

    </table>
}
else
{
    <form method="post">
        <input type="hidden" name="EventID" value="@Model.EventInfo.EventID" />
        <p><input type="submit" value="Delete" class="delete" /></p>
    </form>

    <p><a asp-controller="CMS" asp-action="Index" class="add">Keep</a></p>
}